{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock %}

<{% block link %}
    <!--Bulma css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% endblock %}

{% block content %}
 <!-- Hero Start -->
<div class="hero-section-4 section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Hero Content Start -->
                <div class="hero-content-4" data-aos="fade-up" data-aos-delay="400">
                    <h2 class="title">World’s most popular <br> <span>Learning platform</span></h2>
                    <p class="text">You can start and finish one of these popular courses in under a day - for free! Check out the list below.. Take the course for free</p>
                    <p>Getting started with gostudy is easy <a href="{% url 'Portal:register' %}">Register with us</a></p>
                </div>
                <!-- Hero Content End -->
            </div>
            <div class="col-lg-6 mb-5 pb-3 justify-content-lg-end">
                <div class="hero-form-2">
                    <div class="hero-form-2-wrapper">
                        <div class="heading-wrapper text-center">
                            <h4>Portal Login</h4>
                            <small class="">Kindly login with your username and password</small>
                        </div>
                        <!-- Start Message area -->
                        {% for message in messages %}
                        {% if message.tags == "success" %}
                        <section class="my_account_area pt--80 pb--50 bg--white" id="suc-sec">
                            <div class="container">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-sm-12">
                                        <article class="message is-success">
                                            <div class="message-header">
                                                <p>Success</p>
                                                <button class="delete" aria-label="delete"></button>
                                            </div>
                                            <div class="message-body">
                                                <em>{{ message }}</em>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {% else %}
                        <section class="my_account_area pt--80 pb--50 bg--white" id="err-sec">
                            <div class="container">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-sm-12">
                                        <article class="message is-danger">
                                            <div class="message-header">
                                                <p>Error</p>
                                                <button class="delete" aria-label="delete"></button>
                                            </div>
                                            <div class="message-body">
                                                <em>{{ message }}</em>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {% endif %}
                        {% endfor %}
                        <!-- End Message area -->
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                {% include 'Portal/form.html' with form=form %}
                            </div>
                            <div class="col-sm-12">
                                <!-- Single Form Start -->
                                <div class="form-btn">
                                    <button class="btn" type="submit">Submit</button>
                                </div>
                                <!-- Single Form End -->
                                <small><a href="{% url 'Portal:forgot_password' %}" style="color:#ff1f59">Forgot password?</a></small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<!-- Hero End -->
{% endblock %}